.root{
    padding: 50px;
    --hover-bg-color: #ebf2ff;
}


.postBlock{
    background-color: #ffffff;
    color:#000000;
    white-space: pre-wrap;
    margin: 10;
}
.postBlock:hover {
    background-color: var(--hover-bg-color);
}


.postDate{
    color:#919191;
    margin: 2;
    line-height: 1.1;
}
.postMainText{
    color:#000000;
    margin: 2;
    line-height: 1.5;
}

.inputbox {
    border: none;       
    outline: none;     
    width: 100%;
    resize: none;
    margin: 10;
}
.inputbox:hover {
    background-color: var(--hover-bg-color);
}
